/* this is css file */

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
a {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(2, 2, 49);
}
.logo {
  display: inline-block;
}

.logo img {
  filter: grayscale(100%);
}

ul.ourmenu {
  /* background-color: black; */
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0;
  list-style: none;
  float: right;
  /* display: inline-block; */
}
.ourmenu li {
  display: inline-block;
  background-color: white;
  margin: 0;
  padding: 0;
}

.ourmenu li a {
  display: block;
  padding: 20px;
  text-decoration: none;
}


.ourmenu li a:hover{
    background-color: orange;
    text-decoration: underline;
    color: red;
    font-size: 20px;
    /* transform: scale(1.5); */
}


.ourmenu li#serviceLink{
    background-color: orange;
}
/* .ourmenu li p {
  padding: 0px;
} */

/* .emptybox {
  background-color: red;
  padding: 30px;
  width: 500px;
  /* margin-top: 100px;
  margin-left: 100px; */
  /* border: 100px solid black; */
  /* box-sizing: border-box; */
  /* box-sizing: content-box; */

  /* margin: 100px 0px 0px 100px; */
/* }  */
*/
