* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
p,
a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

.gap_small {
  column-gap: 15px;
}
.btn_custom {
  border-radius: 8px;
  padding: 10px 15px;
  border: none;
  color: #fff;
  cursor: pointer;
}
.btn_orange {
  background-color: #ff6634;
  color: #fff;
  transition: transform 0.5s ease-in-out;
}
.btn_orange:hover {
  color: #fff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.4);
  transform: translateY(-8px);
}

.bg_blue {
  background-color: #0d627a;
}
.bg_orange {
  background-color: #ff6634;
}
.text_orange {
  color: #ff6634;
}

.flipIcon {
  transform: rotate(180deg);
}

header .topbar {
  background-color: #0d627a;
  color: #fff;
}

header .topbar .datetime {
  display: flex;
  gap: 20px;
}

header .topbar .sociallogin {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
}

header .topbar a {
  color: #ffff;
}

header .topbar .socialicon {
  display: flex;
}
header .topbar .socialicon a {
  display: block;
  padding: 5px;
}

header .topbar .socialicon i {
  font-size: 22px;
}

header .logobar .nav-item {
  display: flex;
  align-items: center;
}

/* slider design */
.sliderSection {
}
.sliderSection .mySliderItem img {
  height: 70vh;
  object-fit: cover;
  width: 100%;
  object-position: center center;
}

.sliderSection .owl-carousel {
  position: relative;
  /* wall of a room */
}

.sliderSection .owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
  column-gap: 5px;
  justify-content: center;
}
.sliderSection .owl-dots .owl-dot {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border-radius: 15px;
}

.sliderSection .owl-dots .active {
  background-color: #ff6634;
}

/* owl prev */
.sliderSection .owl-prev {
  /* window position inside the parent */
  position: absolute;
  top: 50%;
  left: 30px;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  background-color: #ff6634 !important;
  transform: translateY(-50%);
}
.sliderSection .owl-prev:focus {
  outline: none;
}

.sliderSection .owl-prev span {
  font-size: 40px;
  color: #fff;
}

/* owl next */
.sliderSection .owl-next {
  /* window position inside the parent */
  position: absolute;
  top: 50%;
  right: 35px;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  background-color: #ff6634 !important;
  transform: translateY(-50%);
}
.sliderSection .owl-next:focus {
  outline: none;
}

.sliderSection .owl-next span {
  font-size: 40px;
  color: #fff;
}

.sliderSection .mySliderItem .textWrapper {
  position: absolute;

  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  bottom: 0;
}
.sliderSection .mySliderItem .mySliderButton {
  background-color: red;
  margin-top: 30px;
}

/* about section */
.about {
  padding: 60px 0px;
}
.about .buttonwrapper {
  margin-top: 30px;
}

.about .itemsCenterClass {
  display: flex;
  align-items: center;
}

/* .about .imagewrapper {
  position: relative;
  z-index: 99;
  margin-right: -100px;
  margin-top: 100px;
} */
/* .about .bigHeight {
  height: 70vh;
  padding-left: 100px;
} */
/* .about .imagewrapper img {
  height: 200px;
  width: 200px;
  float: right;
  object-fit: cover;
  object-position: center center;
} */
.features {
  background-color: #e9e9e9;
  padding: 60px 0px;
  margin-bottom: 100px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  color: #fff;
}
.features .text-muted {
  color: #fff !important;
}

.features .iconbox {
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.5s ease;
  /* animation: scaleanimation infinite 1s ease; */
}
.features .iconbox2 {
  animation-delay: 0.3s;
}
.features .iconbox3 {
  animation-delay: 0.6s;
}
.features .iconbox:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}
.features::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.features .container {
  position: relative;
  z-index: 9;
  /* border-left: 10px dashed red; */
  /* border-left: 10px dotted red; */
  /* border-left: 10px solid red; */
}

.features .bigIcon {
  font-size: 30px;
}

.features .iconTitle {
  margin-top: 15px;
}
/* 
@keyframes daamiAnimation {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes rotateanimation {
  from {
    transform: rotate(360deg);
    opacity: 0;
  }
  to {
    transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes scaleanimation {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);

    opacity: 1;
  }
} */
