.test {
  height: 200px;
  width: 500px;
  /* background-color: red; */
  background: linear-gradient(90deg, #0097a7 0%, rgba(0, 0, 0, 1) 100%);
  padding: 10px;
}

h1 span {
  font-size: 72px;
  background: -webkit-linear-gradient(#0097a7, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.test .content {
  background-color: #fff;
  height: 100%;
}
