.service-page {
  .banner {
    min-height: 50vh;
    position: relative;
    background-repeat: no-repeat !important;
    background-position: 70% !important;
    background-size: 300px auto !important;
    img {
      position: absolute;
      bottom: 0;
      right: 10%;
      height: 250px;
    }
    .container {
      position: relative;
      z-index: 99;
      .textwrapper {
        color: #fff;
        .title {
          margin-bottom: 20px;
        }
        .buttons {
          .samedesignbtn {
            background-color: #fff;
            border: none;
            padding: 10px 25px;
            border-radius: 10px;
            color: #fff;
            transition: all 0.3s ease;
          }
          .btn_readmore {
            border: 2px solid $primaryColor;
            background-color: $primaryColor;
            &:hover {
              background-color: #fff;
              color: #fff;
              background-color: transparent;
            }
          }
          .btn_book {
            border: 2px solid $primaryColor;
            background-color: transparent;
            &:hover {
              background-color: $primaryColor;
              color: #fff;
            }
          }
        }
      }
    }

    &::before {
      content: "";
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      background: linear-gradient(to right, rgb(13, 98, 122), rgba(#fff, 0));
    }
  }
  .infopart {
    padding: 100px 0;
    .row {
      margin: 30px 0;
      a {
        color: #333;
        &:hover {
          color: $primaryColor;
        }
      }
      .box {
        background-color: rgba($primaryColor, 0.1);
        padding: 25px;
        border-radius: 10px;
        &:hover {
          i {
            color: #fff !important;
          }
        }
        i {
          font-size: 30px;
          margin-bottom: 20px;
          color: #fff !important;
          height: 50px;
          width: 50px;
          text-align: center;
          border-radius: 50px;
          line-height: 50px;
          background: rgba($primaryColor, 1);
        }
      }
      .textwrapper {
        .text {
          opacity: 0.7;
        }
      }
      .titlewrapper {
        color: $primaryColor;
      }
    }
  }
}
